<!DOCTYPE html>
{% load static %}
<html lang="fr">
<meta charSet="utf-8"/>
<head>
	<title>{% block title %} Tapage Sous Les Pommiers {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}" />
</head>

<body class="{% block body-class %}{% endblock %}">
	<header>
		<h1>{% block header %}Tapage ous Les Pommiers{% endblock %}</h1>
	</header>
	{% block nav %}
		        <div class="navigation">
			<label for="show-menu" class="show-menu">Menu</label>
			<input type="checkbox" id="show-menu" role="button">
				<ul id="menu">
					<li><a href="/">Accueil</a></li>
					<li><a href="forum">Forum</a></li>
					<li><a href="liens-utiles.php">Liens utiles</a></li>
					<li><a>Editions passées ￬</a>
		 				<ul class="hidden">
								<li><a href="/edition2017">Edition 2017</a></li>
								<li><a href="/edition2018">Edition 2018</a></li>
								<li><a href="/edition2019">Edition 2019</a></li>
								<li><a href="/edition2020">Edition 2020</a></li>
								<li><a href="/galerie/page.php">Photos</a></li>
						</ul>
					</li>
				</ul>
		</div>
		{%endblock%}


	<section id="content">
		{% block content%}{%endblock%}
	</section>

	<footer class ="footer">
		{%block footer%}Association Tapage Sous Les Pommiers{%endblock%}
	</footer>
</body>
