{% extends "base.html" %}
{% load static %}
{% block title %}Galerie{% endblock %}
{% block body-class %}other-page{% endblock %}
{% block header %}Galerie Photos{% endblock %}
{% block content %}
	{% if images_2019 %}
		<div class="paragraphe-texte"> 2019</div>
		{% for image in images_2019 %}
            <div class="miniature">
                <a href="/static/img/photos/2019/{{ image }}"><img src="/static/img/photos/2019/{{ image }}" alt="{{ image }}" style="width:150px"></a>
           </div>
		{% endfor %}
	{% else %}
		<p>No image available.</p>
	{% endif %}
	{% if images_2018 %}
		<div class="paragraphe-texte"> 2018</div>
		{% for image in images_2018 %}
            <div class="miniature">
                <a href="/static/img/photos/2018/{{ image }}"><img src="/static/img/photos/2018/{{ image }}" alt="{{ image }}" style="width:150px"></a>
           </div>
		{% endfor %}
	{% else %}
		<p>No image available.</p>
	{% endif %}
	{% if images_2017 %}
		<div class="paragraphe-texte"> 2017</div>
		{% for image in images_2017 %}
            <div class="miniature">
                <a href="/static/img/photos/2017/{{ image }}"><img src="/static/img/photos/2017/{{ image }}" alt="{{ image }}" style="width:150px"></a>
           </div>
		{% endfor %}
	{% else %}
		<p>No image available.</p>
	{% endif %}
{% endblock %}